<% if user_signed_in? && @user == current_user %>
  <h1><%= @user.name %>のマイページ</h1>
  <%= link_to "プロフィール編集", edit_user_registration_path %>
<% else %>
  <h1><%= @user.name %>のユーザーページ</h1>
<% end %>
<%= link_to "戻る", root_path %>
