<div class="container">
<div class="row">
<%= render "user_profile", user: @user %>

<div class="accordion-container">
  <div class="accordion-title js-accordion-title">
    <h4 class="my-3">投稿した書評</h4>
  </div>
  <div class="accordion-content">
    <%= render "shared/table", posts: @posts %>
  </div>
</div>

<div class="accordion-container">
  <div class="accordion-title js-accordion-title">
    <h4 class="my-3">お気に入り</h4>
  </div>
  <div class="accordion-content">
    <%= render "shared/table", posts: @favorites %>
  </div>
</div>

</div>
</div>
