<% if user_signed_in? && @user == current_user %>
  <h1><%= @user.name %>のマイページ</h1>
<% else %>
  <h1><%= @user.name %>のユーザーページ</h1>
<% end %>

<% if user_signed_in? && @user == current_user %>
  <%= link_to "プロフィール編集", edit_user_path(current_user) %>
<% end %>
