<% if @books.present? %>
  <% @books.each do |book| %>
    <div class="card-body">
      <% if book.medium_image_url %>
        <%= link_to image_tag(book.medium_image_url, style: "display: inline-block"), book.item_url %>
      <% end %>
      <%= book.title %>
    </div>
  <% end %>
<% end %>
